::selection {
	background-color: rgba(0, 0, 0, .12);
}
::-moz-selection {
	background-color: rgba(0, 0, 0, .12);
}
:root {
	scrollbar-color: #bdbdbd white;
	--context-menu-color: black;
	--context-menu-background: #F2F2F2;
	--context-menu-border: #ddd;
	--context-menu-active: hsla(207, 100%, 57%, 0.43);
}
html, body, input {
	color: black;
	fill: black;
	border-color: #ddd;
}
#left {
	border-color: #dedede;
	background-color: #dedede;
}
#right {
	border-color: white;
	background-color: white;
}
.group {
	background-color: #e5e5e5;
}
media-tile,
.placeholder {
	background-color: white;
	border-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
media-tile:hover {
	background-color: #eee;
	border-color: #eee;
}
media-tile.cut {
	box-shadow: 0 0 0 2px #FF6400;
}
media-tile.selected {
	border-color: #3ebaff;
}
media-tile.active {
	background-color: #bbb;
	border-color: red;
}
media-tile.active:hover {
	background-color: #ccc;
}
media-tile.active.selected {
	box-shadow: inset 0 0 0 2px #3ebaff;
}
media-tile.active.selected.cut {
	box-shadow: inset 0 0 0 2px #3ebaff, 0 0 0 2px #FF6400;
}
.description .duration {
	color: white;
	background-color: rgba(0, 0, 0, .4);
}
.remove {
	color: white;
	background-color: rgba(0, 0, 0, .3);
}
.remove:hover {
	color: #FF8B8B; fill: #FF8B8B;
	background-color: rgba(0, 0, 0, .5);
}

#controls .button {
	color: rgba(0,0,0,.8);
	fill: rgba(0,0,0,.8);
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-color: #dedede;
}
#controls .button:hover {
	background-color: #eee;
}
#controls .button:active {
	color: #5050E9;
	fill: #5050E9;
	transition-duration: 0.5s;
}
#controls .button.active {
	color: #1f75ff;
	fill: #1f75ff;
}

#searchbox input {
	background-color: white;
	border-color: #ccc;
	border-style: solid;
	box-shadow: inset 0 1px 2px #eee;
}
#searchbox input:focus {
	border-color: #93b7fc;
	box-shadow: 0 0 4px #93b7fc;
}
