::selection {
	background-color: black;
}
::-moz-selection {
	background-color: black;
}
html, body, input {
	color: white;
	fill: white;
	background-color: black; /* inherited by context menu */
	border-color: #333;
}
#left {
	border-color: #555;
	background-color: #000;
}
#right {
	border-color: #555;
	background-color: #000;
}
.window {
	background-color: #222;
}
.tab,
.placeholder {
	background-color: #444;
	border-color: #444;
	/* box-shadow: none; */
}
.tab:hover{
	background-color: #4D4D4D;
	border-color: #4D4D4D;
}
.tab.active {
	background-color: #000;
	border-color: red;
}
.tab.active:hover {
	background-color: #191919;
}
.description .duration {
	background-color: #000;
}
.remove {
	background-color: #333;
}
.remove:hover {
	color: #E54949;
	fill: #E54949;
}

#controls .button {
	color: #f7f7f7;
	fill: #f7f7f7;
	background-color: #333;
	/* box-shadow: none; */
}
#controls .button:hover {
	background-color: #555;
}
#controls .button:active {
	color: #5050E9;
	fill: #5050E9;
	transition-duration: 0.5s;
}
#controls .button.active {
	color: #5959ED;
	fill: #5959ED;
}

#searchbox input {
	background-color: #333;
	border-color: #4e4e4e;
	border-style: solid;

}
#searchbox input:focus {
	border-color: #5959ED;
}
