<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Options</title>
		<script src="/node_modules/es6lib/require.js" data-main="./"></script>
		<link href="/node_modules/web-ext-utils/options/editor/index.css" rel="stylesheet">
		<link href="/node_modules/web-ext-utils/options/editor/dark.css" rel="stylesheet">
		<link href="/node_modules/web-ext-utils/options/editor/about.css" rel="stylesheet">
	</head>
	<body>
		<form id="options"></form>
		<br>
		<div id='about'></div>
	</body>
</html>
