* { transition: none !important; } /* This rule suppresses transitions during load and is removed afterwards. It must be the first rule. */

* {
	font-family: arial,sans-serif;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	cursor: default;
	overflow: hidden;
	min-height: 600px;
	min-width: 700px;
}
.hidden {
	display: none;
}

/* cursors */
#controls .button, .tab .remove {
	cursor: pointer;
}
#controls, .tab .remove {
	-moz-user-select: none;
	-webkit-user-select: none;
}
.tab .icon {
	cursor: grab;
	cursor: -webkit-grab;
}
.tab.ghost {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

/* scrolling without scrollbars */
::-webkit-scrollbar { display: none; } /* This has a JS based fallback. */
.scroll-outer {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.scroll-inner {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
.context-menu-showing.scroll-inner,
.context-menu-showing .scroll-inner {
	margin-right: unset;
	overflow-y: hidden;
}

/* general layout */
.column {
	position: fixed;
	margin: 0px;
	border-width: 2px;
	border-style: solid;
	display: flex;
	flex-flow: column;
	height: 100%;
}
.column>.header {
	flex: 0 1 auto;
	position: relative;
}
.column>.body {
	overflow: hidden;
	flex: 1 1 auto;
	position: relative;
}
#left {
	left: 0px;
	width: calc(50% + 2px);
}
#right {
	right: 0px;
	width: calc(50% - 2px);
}

/* player buttons */
#controls {
	vertical-align: center;
	text-align: center;
	font-size: 34px;
	line-height: 1.0;
	background-color: inherit;
	margin: 3px;
	margin-bottom: 0px;
}
#controls .button {
	display: inline-block;
	width: calc(100% / 5 - 12px);
	height: 45px;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}
#play.active, #pause.active {
	display: none;
}

#playlist .tabs {
	display: block;
	min-height: calc(100% - 10px);
}

/* search box */
#searchbox {
	padding: 3px 6px;
}
#searchbox>input {
	padding: 3px;
	font-size: 14px;
	width: 100%;
	border-width: 1px;
	outline: none;
}

/* tab tiles */
.tab {
	padding: 5px;
	margin: 3px;
	margin-top: 6px;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	border-style: solid;
	border-width: 2px;
}
.tab:last-child {
	margin-bottom: 3px;
}
.tab.ghost {
	opacity: 0.5;
}
.tab .icon {
	display: inline-block;
	width: 80px;
	height: 45px;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .description {
	position: absolute;
	top: 0px;
	left: 92px;
	right: 5px;
	top: 3px;
	bottom: 3px;
	hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}
.tab .title {
	display: block;
	line-height: 1.22;
	margin-right: 20px;
	padding: 0px;
}
.tab .duration {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 0px 2px;
	border-radius: 2px;
}
.tab .remove {
	position: absolute;
	right: 0px;
	top: 0px;
	vertical-align: middle;
	text-align: center;
	width: 17px;
	height: 17px;
	font-size: 14px;
	line-height: 17px;
	border-radius: 8px;
}

/*  windows (tab groups) */
.window {
	margin: 5px 2px;
	padding: 4px 0px;
}
.window .header {
	white-space: nowrap;
	overflow: hidden;
}
.window .header label {
	display: block;
	height: 100%;
	width: 100%;
	padding: 2px 10px;
}

.searching .tab:not(.found) {
	margin: 0;
	border-width: 0;
	padding: 0;
	height: 0;
}

/* collapsing lists */
label.toggleswitch { cursor: pointer; }
input.toggleswitch { display: none; }
input.toggleswitch:checked + * { display: none; }

.tab-default,
.video-default,
#window-default {
	display: none;
}

/* transitions */
#left, #right,
.button, .button *,
.tab, .tab * {
	transition-property: color, fill, background-color, border-color, width, height, padding, margin, transform, transform-origin, left, right;
	transition-duration: 0.16s;
}
.tab {
	transition-duration: 0.24s;
}

/* thumbnail-only window list */
@media (max-width: 570px) {
	#left {
		left: 0px;
		width: calc(100% - 92px);
	}
	#right {
		right: 0px;
		width: 92px;
	}
	#right .tab {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	#right .tab .description {
		display: none;
	}
}
/* smaller thumbnails in window list */
@media (max-width: 370px) {
	#left {
		left: 0px;
		width: calc(100% - 72px);
	}
	#right {
		right: 0px;
		width: 72px;
	}
	#right .tab .icon {
		width: 60px;
		height: 33.75px;
	}
}
/* smaller thumbnails in playlist, less spacing around control buttons */
@media (max-width: 330px) {
	.tab .description {
		left: 70px;
	}
	.tab .icon {
		width: 60px;
	}
	#controls .button {
		width: calc(100% / 5 - 8px);
		margin-left: 0px;
		margin-right: 0px;
	}
}
/* hide .remove and .duration from playlist tiles, smaller control buttons icons */
@media (max-width: 305px) {
	.tab .title {
		margin-right: 0;
	}
	.tab .remove,
	.tab .duration {
		transform: scale(0);
	}
	#controls .button>* {
		transform: scale(0.5);
	}
	#controls .button>svg {
		margin-left: calc(9vw - 27px);
	}
}
@media (max-width: 275px) {
	.tab .description {
		font-size: 5.12vw;
	}
}
/* slowly hide window list */
@media (max-width: 230px) {
	#left {
		left: 0px;
		width: calc(100% - 72px + calc(230px - 100vw));
	}
	#right {
		right: 0px;
		width: calc(72px - calc(230px - 100vw));
	}
	#right .tab .icon {
		width: calc(60px - calc(230px - 100vw));
		height: 33.75px;
	}
	#controls .button>svg {
		margin-left: -7px;
	}
}
/* window list hidden */
@media (max-width: 180px) {
	#left {
		left: 0px;
		width: 100%;
	}
	#right {
		width: 0;
	}
	.column {
		border-left-width: 0px;
		border-right-width: 0px;
	}
	.tab {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.tab .description {
		left: 67px;
		right: 3px;
		font-size: 9.13px;
	}
}
