.popup-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.popup-menu, .submenu {
	position: absolute;
	padding: 2px;
	border: 1px solid transparent;
	border-color: inherit;
	white-space: nowrap;
	line-height: 16px;
}

.menu-item:not(:first-child) {
	border-top: 1px solid transparent;
	border-color: inherit;
}
.menu-item {
	padding: 2px 10px 2px 10px;
	position: relative;
}
.has-icon>.menu-item {
	padding-left: 20px;
}
.menu-item .icon {
	position: absolute;
	left: 2px;
	width: 16px;
	height: 16px;
	filter: grayscale(100%);
	overflow: hidden;
}
.menu-item.default {
	font-weight: bold;
}

.menu-submenu {
	position: relative;
}
.menu-submenu>.label {
	margin-right: 8px;
}
.menu-submenu>.label::after {
	content: 'â¯';
	position: absolute;
	right: 6px;
	opacity: 0.4;
}
.menu-submenu .submenu {
	display: none;
	z-index: 1;
	float: left;
	left: calc(100% - 5px);
	top: -3px;
}
.menu-submenu:hover>.submenu {
	display: unset;
}

/* transitions */
.menu-item {
	transition-property: color, fill, background-color, border-color;
	transition-duration: 0.16s;
}
