.menu-anchor {
	position: fixed !important;
	width: 0; height: 0;
}
.submenu {
	position: absolute;
	padding: 2px;
	border: 1px solid transparent;
	border-color: inherit;
	white-space: nowrap;
	line-height: 16px;
}

.menu-item:not(:first-child) {
	border-top: 1px solid transparent;
	border-color: inherit;
}
.menu-item {
	padding: 2px 10px 2px 10px;
	position: relative;
}
.menu-item.default {
	font-weight: bold;
}
.has-icon>.menu-item {
	padding-left: 20px;
}
.menu-item .icon {
	position: absolute;
	left: -1px;
	width: 20px;
	height: 16px;
	filter: grayscale(100%);
	overflow: hidden;
	font-weight: normal;
	text-align: center;
}
.menu-item .label {
	z-index: 1;
	position: relative;
}

.menu-submenu {
	position: relative;
}
.menu-checkbox>.label,
.menu-submenu>.label {
	margin-right: 8px;
}
.menu-checkbox>.label::after {
	content: '☐';
	position: absolute;
	right: -15px;
}
.menu-checkbox.checked>.label::after {
	content: '☑';
}
.menu-submenu>.label::after {
	content: '❯';
	position: absolute;
	right: -10px;
	opacity: 0.4;
}
.menu-submenu .submenu {
	visibility: hidden;
	z-index: 2;
	float: left;
	left: calc(100% + -3px);
	top: -3px;
}
.menu-anchor>.submenu,
.menu-submenu.active>.submenu {
	visibility: unset;
}
.menu-submenu .submenu.to-left {
	right: calc(100% + -3px);
	left: unset;
}
.menu-submenu .submenu.to-top {
	bottom: -3px;
	top: unset;
}
/* place top level menu directly beside the cursor */
.menu-anchor>.submenu {
	left: 0;
	right: unset;
	top: 0;
	bottom: unset;
}
.menu-anchor>.submenu.to-left {
	left: unset;
	right: 0;
}
.menu-anchor>.submenu.to-top {
	bottom: 0;
	top: unset;
}

/* transitions */
.menu-item {
	transition-property: color, fill, background-color, border-color;
	transition-duration: 0.16s;
}


.submenu, .menu-submenu {
	background-color: inherit;
	border-color: inherit;
}

.menu-item.active::before {
	background-color: hsla(207, 100%, 57%, 0.43);
	content: ' ';
	position: absolute;
	z-index: 0;
	top: 0; right: 0; bottom: 0; left: 0;
}
