* {
	box-sizing: border-box;
}
body {
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	cursor: default;
	overflow: hidden;
	min-height: 600px;
	min-width: 700px;
}
.hidden {
	display: none;
}

/* cursors */
#controls .button, media-tile .remove, #searchbox .remove {
	cursor: pointer;
}
#controls, media-tile .remove, #searchbox .remove {
	-moz-user-select: none;
	-webkit-user-select: none;
}
media-tile .icon {
	cursor: grab;
	cursor: -webkit-grab;
}
media-tile.ghost {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

/* thin scrollbars */
.scroll-outer {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.scroll-inner {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
::-webkit-scrollbar { width: 6px; background: transparent; }
::-webkit-scrollbar-thumb { background: #323232; }
::-webkit-scrollbar-thumb:hover { background: #595959; }
::-webkit-scrollbar-thumb:active { background: #9F9F9F; }
@media screen and (min--moz-device-pixel-ratio:0) { /* firefox doesn't support scrollbar styles */
	.scroll-inner { /* so hide parts of the scrollbar doesn't work */
		height: calc(100% + 34px);
		width: calc(100% + 10px);
		margin: -17px -10px -17px 0;
	}
	.scroll-inner::after, .scroll-inner::before { /* and of course padding-bottom doesn't work as expected either */
		content: ''; display: block;
		height: 17px; width: 100%;
	}
}

/* general layout */
.column {
	position: fixed;
	margin: 0px;
	border-width: 2px;
	border-style: solid;
	display: flex;
	flex-flow: column;
	height: 100%;
}
.column>.header {
}
.column>.body {
	overflow: hidden;
	flex: auto;
	position: relative;
}
.column>.footer {
}
#left {
	left: 0px;
	width: calc(50% + 2px);
}
#right {
	right: 0px;
	width: calc(50% - 2px);
}

/* player buttons */
#controls {
	height: 52.8px;
	font-size: 34px;
	background-color: inherit;
	margin: 3px;
	margin-bottom: 0px;
}
#controls .button {
	display: inline-block; position: relative;
	width: 20%; height: 45px;
	border: 2px solid transparent;
	overflow: hidden;
}
#controls .button>* {
	position: absolute; margin: auto;
	top: -9999px; bottom: -9999px; left: -9999px; right: -9999px;
}
#controls .button>div {
	width: 1em; height: 1em; line-height: 1em;
	vertical-align: center; text-align: center;
}
#play.active, #pause.active {
	display: none;
}

#playlist .tiles {
	display: block;
	min-height: calc(100% - 10px);
}

/* seek bar */
#seek-bar>* {
	display: inline-block;
	padding: 5px;
	height: 30px;
	vertical-align: middle;
}
#current-time, #total-time {
	width: 40px;
	padding-top: 7px;
}
#current-time {
	text-align: right;
}
#progress {
	width: calc(100% - 90px);
	padding: 7px 5px;
}
#progress .slider {
	width: 100%;
	--inner-color: #ff8080;
	--outer-color: #d50000;
	--background: #3071a9;
	--track-height: .4;
	font-size: 16px;
}

/* search box */
#searchbox {
	position: relative;
	padding: 5px 2px 5px 2px;
}
#searchbox>input {
	padding: 3px 22px 3px 6px;
	font-size: 14px;
	width: 100%;
	border-width: 1px;
	outline: none;
}
.header #searchbox .remove {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
body:not(.searching) #searchbox .remove {
	display: none;
}

/* tab tiles */
media-tile {
	padding: 5px;
	margin: 3px;
	margin-top: 6px;
	margin-bottom: 0;
	display: block;
	overflow: hidden;
	position: relative;
	border-style: solid;
	border-width: 2px;
}
media-tile:last-child {
	margin-bottom: 3px;
}
media-tile.ghost {
	opacity: 0.5;
}
media-tile .icon {
	display: inline-block;
	width: 80px;
	height: 45px;
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
media-tile .description {
	position: absolute;
	top: 0px;
	left: 92px;
	right: 5px;
	top: 3px;
	bottom: 3px;
	hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}
media-tile .error {
	font-weight: bold;
	color: red;
}
media-tile .title {
	display: block;
	line-height: 1.22;
	margin-right: 20px;
	padding: 0px;
}
media-tile .duration {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 0px 2px;
	border-radius: 2px;
}
media-tile .remove, #searchbox .remove {
	position: absolute;
	right: 0px;
	top: 0px;
	vertical-align: middle;
	text-align: center;
	width: 17px;
	height: 17px;
	font-size: 14px;
	line-height: 17px;
	border-radius: 8px;
}

/*  groups (tab groups) */
.group {
	margin: 2px 2px 4px 2px;
	padding: 4px 0px 1px 0px;
}
.group .header {
	white-space: nowrap;
	overflow: hidden;
}
.group .header label {
	display: block;
	height: 100%;
	width: 100%;
	padding: 2px 10px;
}

.searching .group media-tile:not(.found) {
	margin: 0;
	border-width: 0;
	padding: 0;
	height: 0;
}

/* collapsing lists */
label.toggleswitch { cursor: pointer; }
input.toggleswitch { display: none; }
input.toggleswitch:checked + * { display: none; }

.tiles:empty::after {
	content: '(none)';
	opacity: 0.5;
	font-family: monospace;
	padding-left: 20px;
}

/* transitions */
#left, #right,
.button, .button *,
media-tile, media-tile * {
	transition-property: color, fill, background-color, border-color, box-shadow, width, height, padding, margin, transform, transform-origin, left, right;
	transition-duration: 0.16s;
}
media-tile {
	transition-duration: 0.24s;
}
.no-transitions * { transition: none !important; } /* disable transitions during load and theme change */

/* thumbnail-only group list */
@media (max-width: 584px) {
	#left { width: calc(100% - 99px); }
	#right { right: 0px; width: 99px; }
	#right media-tile { padding: 0; margin-left: 0; margin-right: 0; }
	#right media-tile .icon { width: 100%; }
	#right media-tile .description { display: none; }
	#searchbox input { padding-right: 6px; }
	#searchbox .remove { display: none; }
	.group .header { font-size: 12px; }
	.group .header label { padding: 2px 6px; }
}
/* smaller thumbnails in group list */
@media (max-width: 380px) {
	#left { width: calc(100% - 75px); }
	#right { right: 0px; width: 75px; }
	#right media-tile { border-width: 1px; }
	#right media-tile .icon { height: 33.75px; }
	#searchbox>input { font-size: 80%; }
	.group .header { font-size: 10px; }
	.group .header label { padding: 2px; }
}
/* smaller thumbnails in playlist, less spacing around control buttons */
@media (max-width: 330px) {
	media-tile .description { left: 70px; }
	media-tile .icon { width: 60px; }
	#controls .button { margin-left: 0px; margin-right: 0px; }
}
/* hide .remove, smaller control buttons icons */
@media (max-width: 305px) {
	media-tile .title { margin-right: 0; }
	media-tile .remove, #searchbox .remove { transform: scale(0); }
	media-tile .duration { right: -4px; bottom: -2px; }
	#controls .button>* { transform: scale(0.5); }
}
@media (max-width: 275px) {
	media-tile .duration { transform: scale(0); }
	media-tile .description { font-size: 5.12vw; }
}
/* progressively hide group list */
@media (max-width: 250px) {
	#left { width: calc(0vw + 175px); }
	#right { width: calc(100vw - 175px); }
	#searchbox { visibility: hidden; }
	media-tile .description { font-size: 12.8px; }
}
/* group list hidden */
@media (max-width: 210px) {
	#left { width: 100%; }
	#right { width: 0; }
	.column { border-left-width: 0px; border-right-width: 0px; }
	media-tile {
		margin-left: 0px; margin-right: 0px;
		padding-left: 2px; padding-right: 2px;
	}
	media-tile .description {
		left: 67px; right: 3px;
		font-size: calc((100vw - 0px) / 16.4);
	}
}
/* show #control .buttons in two rows */
@media (max-width: 170px) {
	#controls { height: 73px; }
	#controls .button { height: 30px; border-width: 0 2px; }
	#controls #play, #controls #pause,
	#controls #prev, #controls #next { width: 33.33333%; }
	#controls #loop, #controls #more { width: 50%; position: relative; top: -4px; }
}
/* show only thumbs */
@media (max-width: 73px) {
	media-tile { padding: 0; border-left-width: 0; border-right-width: 0; }
	media-tile .icon { width: 100%; }
}

/* slider */
input[type=range] {
	--inner-color: #333;
	--outer-color: #222;
	--background: #666;
	--track-height: .4;
	-webkit-appearance: none;
	border-color: transparent;
	border-style: solid;
	border-width: calc((1 - var(--track-height)) / 2 * 1em) 0;
	margin: 0;
	outline: none;
	cursor: pointer;
	position: relative;
	background: transparent;
	top: .0625em;
}
@-moz-document url-prefix() { input[type=range] { /* firefox only */
	top: -.35em;
} }
input[type=range]::-webkit-slider-runnable-track {
	height: calc(var(--track-height) * 1em);
	background: var(--background);
	border-radius: 0.5em;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: inset .0625em .0625em .5625em var(--outer-color);
	border: .0625em solid var(--outer-color);
	height: 1em;
	width: 1em;
	border-radius: .5em;
	background: var(--inner-color);
	-webkit-appearance: none;
	margin-top: calc((1 - var(--track-height)) / 2 * -1em);
	box-sizing: border-box;
}
/* the next two blocks are the same as the two above */
input[type=range]::-moz-range-track {
	height: calc(var(--track-height) * 1em);
	background: var(--background);
	border-radius: 0.5em;
}
input[type=range]::-moz-range-thumb {
	box-shadow: inset .0625em .0625em .5625em var(--outer-color);
	border: .0625em solid var(--outer-color);
	height: 1em;
	width: 1em;
	border-radius: .5em;
	background: var(--inner-color);
	-webkit-appearance: none;
	margin-top: calc((1 - var(--track-height)) / 2 * -1em);
	box-sizing: border-box;
}
