::selection {
	background-color: black;
}
::-moz-selection {
	background-color: black;
}
html, body {
	background-color: #555;
	color: white;
	fill: white;
	background-color: black; /* inherited by context menu */
	border-color: #333;
}
.column {
	border-color: #555;
	background-color: #000;
}
.window {
	background-color: #222;
}
.tab,
.placeholder {
	background-color: #444;
	border-color: #444;
}
.tab:hover{
	background-color: #4D4D4D;
}
.tab.active {
	background-color: #000;
	border-color: red;
}
.tab.active:hover {
	background-color: #191919;
}
.description .duration {
	background-color: #000;
}

#controls .button, .tab .remove {
	background-color: #333;
}
.tab .remove:hover {
	color: #E54949;
	fill: #E54949;
}
#controls .button:hover {
	background-color: #555;
}
#controls .button:active {
	color: #5050E9;
	fill: #5050E9;
	transition-duration: 0.5s;
}
#controls .button.active {
	color: #5959ED;
	fill: #5959ED;
}
